/sample_project/nbproject/private/
/sample_project/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/sample_application/nbproject/private/
/sample_application/build/
/pms/nbproject/private/
/pms/build/
